body{
    background-color:rgb(30 103 114); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-panel{
    position: absolute;
    height: 900px;
    width: 600px;
    min-height: 900px;
    min-width: 600px;
    left: 50%;
    top: 1%;
    transform: translate(-50%);
    border: 2px  rgb(56, 56, 56) solid;
    background: linear-gradient(11deg, rgb(30,103,114,1) 10%, rgb(102,65,18,1) 90%);
}

/* ------- ------- ------- page element row 0 ("top of the page') ------- ------- ------- */

.signboard{
    position: absolute;
    height: 60px;
    width: 80px;
    top: 13px;
    background-color: rgb(8, 33, 43);
    border: 3px rgb(62, 20, 1) groove;
    padding-top: 5px ;
    border-radius: 7%;
    color: rgb(255, 100, 100);
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.score-board{
    left: 17px;
}

.timer{
    left: 500px;
}

.signboard-txt{
    position: absolute;
    height: 70%;
    width: 80%;
    left: 50%;
    top: 48px;
    transform: translate(-50%,-50%);
    color: rgb(217, 217, 217);
    font-size: 26px;
    text-align: center;
}

.game-name{
    position: absolute;
    box-sizing: content-box;
    height: 100px;
    width: 400px;
    left: 200px;
    top: 7px;
    transform: translate(-100px);
    text-shadow: 8px 2px 6px rgba(0,0,0,0.58);
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    color: rgba(9, 0, 111, 0.777);
}

/* ------- ------- ------- page element row 1 ------- ------- ------- */


.smiley{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 300px;
    transform: translate(-25px);
    top: 100px;
    border-radius: 50%;
    border: 4px rgb(80, 80, 80) groove;
    transition: all 0.1s;
    z-index: 7; /* first layer*/
    cursor: pointer;
}

.smiley:hover{
    background-color:  rgb(252, 206, 0);
    border: 4px rgb(0, 154, 221) groove;
}

.smiley > img{
    position: absolute;
    height: 70px;
    width: 70px;
    transform: translate(-13px,-13px);
    left: 2.5px;
    top: 2.5px;
}

.smiley > img:hover{
    height: 75px;
    width: 75px;
    left: 0px;
    top: 0px;
}

/* ------- ------- ------- page element row 2 ------- ------- ------- */

.selection-panel{
    position: absolute;
    height: 120px;
    width: 200px;
    top: 150px;
    border-radius: 3%;
    background-color: rgb(25, 40, 57);
    border: 2px black solid;
} 


.selection-panel.left{
    left: 5px;
}

.selection-panel.right{
    left: 390px;
}

.difficulty-txt{
    position:absolute;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    height: 50px;
    width: 200px;
    top: 10px;
    left: 0px;
    text-align: center;
    font-size: 18px;
}

.selection-btn {
    position: absolute;
    height: 30px;
    width: 40px;
    top: 35px;
    padding-bottom: 25px;
    transition: all 0.15s;
    border-radius: 7%;
    border: 4px rgb(80, 80, 80) groove;
    font-size: 20px;
    font-style: oblique;
    background-color: rgba(216, 84, 69, 0.948);
}

.selection-btn.left:hover{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(216, 69, 138, 0.948);
}

.selection-btn.right:hover{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgba(216, 69, 138, 0.948);
}

.selection-btn.left{  
    left: 95px;
    transform: translate(-40px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.selection-btn.right{
    left: 105px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.difficulty-str{
    position: absolute;
    height: 50px;
    width: 120px;
    top: 65px;
    left: 100px;
    transform: translate(-60px);
    color: rgb(0, 199, 172);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(1, 11, 63, 0.887);
    font-size: 45px;
}

.status{
    position: absolute;
    height: 120px;
    width: 200px;
    top: 200px;
    left: 215px;
    color: rgb(226, 43, 113);

    font-size: 23px;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgba(158, 255, 231, 0.58);
    z-index: 0;
}

.status.over{
    transform: translate(20px);
}

.mode-txt{
    position:absolute;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    height: 50px;
    width: 200px;
    top: 10px;
    left: 0px;
    text-align: center;
    font-size: 18px;
}

.mode-str{
    position: absolute;
    height: 50px;
    width: 120px;
    top: 65px;
    left: 100px;
    transform: translate(-80px);
    color: rgb(0, 199, 172);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(1, 11, 63, 0.887);
    font-size: 45px;
}

/* ------- ------- ------- page element row 2 ------- ------- ------- */

.life{
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: rgba(255, 255, 255,0);
    left: 512px;
}


.row2{
    top: 310px; 
    transition: 2.1s; 
}

.life img{
    height: 75px;
    width: 75px;
}

.life.beat{
    transform: scale(1.1);
}
/* ------- ------- ------- page element row 3 ------- ------- ------- */

.row3{
    top: 410px;
    transition: 2.2s;  
}

/* ------- ------- ------- page element row 4 ------- ------- ------- */

.row4{
    top: 515px;
    transition: 2.0s;  
}

/* ------- ------- ------- page element row 5 ------- ------- ------- */

.bank{
    position: absolute;
    height: 75px;
    width: 75px;
    top: 620px;
    border-radius: 3%;
    border: 4px rgb(80, 80, 80) groove;
    background-color: rgb(25, 40, 57);
    color: rgb(255, 89, 0);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(49, 13, 1);
    font-size: 15px;
    padding-top: 2px;
}

.bank.mines{
    left: 13px;
    display: none;
}

.bank.flags{
    left: 512px;
}

.counter{
    position: absolute;
    height: 25px;
    width: 62px ;
    top: 40px;
    left: 2.5px;
    border-radius: 3%;
    border: 4px rgb(80, 80, 80) groove;
    background-color: rgba(149, 2, 2, 0.656);
    color:  rgb(193, 249, 252);
    text-shadow: 1px 1px 1px rgb(1, 4, 22);
    text-align: center;
    font-size: 22px;
}

.mine.counter{
    background-color: rgba(149, 102, 2, 0.656);
}

.flags.counter{
    background-color: rgba(255, 0, 0, 0.656);
}




footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 50px;
    width:100%;
    border-top: 4px rgb(80, 80, 80) groove;
    background-color: rgb(25, 40, 57);
}


